<html>
  <head>
    <meta charset="utf-8">
    <title>Bins!</title>
  </head>

  <body>
    <h1><%= @bin_colour.capitalize %> bin (<%= @bin_kind %>) this week!</h1>
    <h2>Collection on <%= @this_week[:collection_day] %>, <%= @this_week[:collection_date] %>.</h2>
  </body>
</html>
